.front-grid {
    position: absolute;
    z-index: 3;
    transform: rotate(-21.13deg);
    // margin: 10% 5% 0 0;
}

.middle-grid {
    position: absolute;
    z-index: 2;
    transform: rotate(-6.72deg);
}

.back-grid {
    position: absolute;
    z-index: 1;
    transform: rotate(8.16deg);
}
